
<h2>:|: Hello, <%= current_user.first_name.capitalize %> :|:</h2>
<table>
	<tr>
		<td>
			<form action="<%= logout_path %>" method="post">
				<input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
				<input type ='hidden' name='_method' value='delete'/>
				<button name="" value="">Log Out</button> 
			</form>
		</td>
		<td> :|: </td>
		<td>
			<form action="<%= songs_path %>" method="get">
				<input type ='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'/>
				<button name="" value="">Home</button> 
			</form>
		</td>

	</tr>
</table>

<h2>:|: Others who added <%= @song.artist %> - <%= @song.title %>:|:</h2>

<table>
	<tr>
		<th>User Name</th>
		<th> :|: </th>
		<th>Times added</th>
	</tr>
	<% @song.playlists.each do |info| %>
	<tr>
		<td><a href="<%= show_path info.user.id %>"><%= info.user.first_name %> <%= info.user.last_name %></a></td>
		<td> :|: </td>
		<td><%= @song.playlists.where(user_id: info.user.id).count %></td>
	</tr>
	<% end %>
</table>

